:root {
  --blue-dark: #118c87;
  --blue: #31c3bd;
  --blue-light: #65e9e4;
  --yellow-dark: #cc8b13;
  --yellow: #f2b137;
  --yellow-light: #ffc860;
  --navy-dark: #10212a;
  --navy: #1a2a33;
  --navy-light: #1f3641;
  --silver-dark: #6b8997;
  --silver: #a8bfc9;
  --silver-transparent: #a8bfc90d;
  --silver-light: #dbe8ed;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Outfit", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1.5rem;
  background-color: var(--navy);
  color: var(--silver);
}

.heading {
  font-weight: 700;
  text-transform: uppercase;
}
.heading--lg {
  font-size: 2.5rem;
  line-height: 3.125rem;
  letter-spacing: 0.15625rem;
}
.heading--md {
  font-size: 1.5rem;
  line-height: 1.875rem;
  letter-spacing: 0.09375rem;
}
.heading--sm {
  font-size: 1.25rem;
  line-height: 1.5625rem;
  letter-spacing: 0.078125rem;
}
.heading--xs {
  line-height: 1.25rem;
  letter-spacing: 0.0625rem;
}

.text {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.0546875rem;
}

.transparent {
  opacity: 0.5;
}

.button {
  cursor: pointer;
  color: var(--navy-dark);
  transition: background-color 0.25s, padding 0.1s, box-shadow 0.1s, margin 0.1s;
}
.button--primary {
  border-radius: 0.9375rem;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  letter-spacing: 0.078125rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 0 1.5rem;
}
.button--primary--yellow {
  background-color: var(--yellow);
  box-shadow: inset 0px -0.5rem 0px var(--yellow-dark);
}
.button--primary--yellow:hover {
  background-color: var(--yellow-light);
}
.button--primary--blue {
  background-color: var(--blue);
  box-shadow: inset 0px -0.5rem 0px var(--blue-dark);
}
.button--primary--blue:hover {
  background-color: var(--blue-light);
}
.button--primary:active {
  box-shadow: none;
  padding-bottom: 1rem;
  margin-top: 0.5rem;
}
.button--secondary {
  padding: 1rem;
}
.button--secondary--yellow {
  background-color: var(--yellow);
  box-shadow: inset 0px -0.25rem 0px var(--yellow-dark);
  border-radius: 0.625rem;
}
.button--secondary--yellow:hover {
  background-color: var(--yellow-light);
}
.button--secondary--silver {
  background-color: var(--silver);
  box-shadow: inset 0px -0.25rem 0px var(--silver-dark);
  border-radius: 0.625rem;
}
.button--secondary--silver:hover {
  background-color: var(--silver-light);
}
.button--secondary:active {
  box-shadow: none;
  padding-bottom: 0.75rem;
  margin-top: 0.25rem;
}

.toggle {
  background-color: var(--navy);
  display: flex;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.625rem;
}
.toggle__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--navy);
  width: 50%;
  border-radius: 0.625rem;
  padding: 0.6875rem 0;
  cursor: pointer;
  transition: background-color 0.25s;
}
.toggle__button.active {
  background-color: var(--silver);
}
.toggle__button:not(.active):hover {
  background-color: var(--silver-transparent);
}
.toggle__icon.active {
  filter: brightness(0) saturate(100%) invert(12%) sepia(16%) saturate(1249%) hue-rotate(157deg) brightness(97%) contrast(92%);
}
.toggle__icon:not(.active) {
  filter: brightness(0) saturate(100%) invert(81%) sepia(37%) saturate(127%) hue-rotate(153deg) brightness(86%) contrast(91%);
}

.icon {
  width: 2rem;
  height: 2rem;
}
.icon--sm {
  width: 1.25rem;
  height: 1.25rem;
}
.icon--lg {
  width: 4rem;
  height: 4rem;
}
.icon--silver {
  filter: brightness(0) saturate(100%) invert(81%) sepia(37%) saturate(127%) hue-rotate(153deg) brightness(86%) contrast(91%);
}

.page {
  display: flex;
  flex-direction: column;
  min-width: min(28.75rem, 100%);
}

.icon-container {
  display: flex;
  gap: 0.5rem;
}

.toggle-container {
  padding: 1.5rem 1.5rem 1.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.card {
  background-color: var(--navy-light);
  box-shadow: inset 0px -0.5rem 0px var(--navy-dark);
  border-radius: 0.9375rem;
}
.card--sm {
  box-shadow: inset 0px -0.25rem 0px var(--navy-dark);
  border-radius: 0.625rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.turn-indicator {
  display: flex;
  gap: 0.75rem;
  padding: 0.75rem 1.875rem 1.125rem;
}
@media (max-width: 25rem) {
  .turn-indicator {
    padding: 0.5rem 0.9375rem 0.75rem;
  }
}

.restart-button {
  padding: 1rem;
}

.center {
  margin: 0 auto;
}

.mb--16 {
  margin-bottom: 1rem;
}
.mb--20 {
  margin-bottom: 1.25rem;
}
.mb--24 {
  margin-bottom: 1.5rem;
}
.mb--40 {
  margin-bottom: 2.5rem;
}/*# sourceMappingURL=style.css.map */