:root {
  --blue-dark: #118c87;
  --blue: #31c3bd;
  --blue-light: #65e9e4;
  --yellow-dark: #cc8b13;
  --yellow: #f2b137;
  --yellow-light: #ffc860;
  --navy-dark: #10212a;
  --navy: #1a2a33;
  --navy-light: #1f3641;
  --silver-dark: #6b8997;
  --silver: #a8bfc9;
  --silver-transparent: #a8bfc90d;
  --silver-light: #dbe8ed;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Outfit", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1.5rem;
  background-color: var(--navy);
  color: var(--silver);
}
