.button {
  &--primary {
    cursor: pointer;
    border-radius: 0.9375rem;
    font-size: 1.25rem;
    line-height: 1.5625rem;
    letter-spacing: 0.078125rem;
    font-weight: 700;
    text-transform: uppercase;
    &--yellow {
      background-color: var(--yellow);
      box-shadow: inset 0px -0.5rem 0px var(--yellow-dark);
      &:hover {
        background-color: var(--yellow-light);
      }
    }
    &--blue {
      background-color: var(--blue);
      box-shadow: inset 0px -0.5rem 0px var(--blue-dark);
      &:hover {
        background-color: var(--blue-light);
      }
    }
  }
  &--secondary {
    cursor: pointer;
    &--yellow {
      background-color: var(--yellow);
      box-shadow: inset 0px -0.25rem 0px var(--yellow-dark);
      border-radius: 0.625rem;
      &:hover {
        background-color: var(--yellow-light);
      }
    }
    &--silver {
      background-color: var(--silver);
      box-shadow: inset 0px -0.25rem 0px var(--silver-dark);
      border-radius: 0.625rem;
      &:hover {
        background-color: var(--silver-light);
      }
    }
  }
}
