.hidden {
  display: none !important;
}

.transparent {
  opacity: 0.5;
}

.bg {
  &--blue {
    background-color: var(--blue);
  }
  &--silver {
    background-color: var(--silver);
  }
  &--yellow {
    background-color: var(--yellow);
  }
}

.score {
  color: var(--navy);
  border-radius: 0.9375rem;
  padding: 0.75rem;
}

.game-result {
  padding: 2.8125rem;
  background-color: var(--navy-light);
}

.modal {
  min-width: 100vw;
  top: 50%;
  transform: translateY(-50%);
  &::backdrop {
    background-color: #00000080;
  }
}
