.heading {
  &--lg {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.125rem;
    letter-spacing: 0.15625rem;
    @media (max-width: 30rem) {
      font-size: 1.5rem;
      line-height: 1.875rem;
      letter-spacing: 0.09375rem;
    }
  }
  &--md {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.875rem;
    letter-spacing: 0.09375rem;
    @media (max-width: 30rem) {
      font-size: 1.25rem;
      line-height: 1.5625rem;
      letter-spacing: 0.078125rem;
    }
  }
  &--sm {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5625rem;
    letter-spacing: 0.078125rem;
    @media (max-width: 30rem) {
      font-size: 1rem;
      line-height: 1.25rem;
      letter-spacing: 0.0625rem;
    }
  }
  &--xs {
    font-weight: 700;
    line-height: 1.25rem;
    letter-spacing: 0.0625rem;
    @media (max-width: 30rem) {
      font-size: 0.875rem;
      line-height: 1.125rem;
      letter-spacing: 0.0547rem;
    }
  }
}

.text {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.0546875rem;
}

.color {
  &--blue {
    color: var(--blue);
  }
  &--yellow {
    color: var(--yellow);
  }
  &--silver {
    color: var(--silver);
  }
}
